@tailwind base;

@tailwind components;

.modal__content h1,
.modal__content h2,
.modal__content h3,
.modal__content h4,
.modal__content h5,
.modal__content h6,
.modal__content p,
.modal__content pre,
.modal__content blockquote,
.modal__content label,
.modal__content ul,
.modal__content ol,
.modal__content dl,
.modal__content fieldset,
.modal__content address {
  margin: 1em 0;
}
.modal__content * {
  font-size: 1rem;
}
.modal__content ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.modal__content h1 {
  font-size: 1.2rem;
  font-size: 1rem;
  font-weight: 700;
}

.modal__content h2 {
  font-size: 0.9rem;
  font-weight: 700;
}

@screen sm {
  .modal__content * {
    font-size: 1.1rem;
  }
  .modal__content h1 {
    font-size: 1.2rem;
  }
  .modal__content h2 {
    font-size: 1rem;
  }
}
.modal__content ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.modal__content a {
  /* border-bottom: 2px solid rgb(10, 142, 250); */
  color: #3182ce;
  /* border-bottom: 1px solid transparent; */
}
.modal__content a:hover {
  /* border-bottom: 1px solid black; */
  color: #1263af;
}
.skeleton {
  /*   background: red; */
  --explore-height: 40px;
  --explore-width: 80px;
  --explore-position: 0 0;
  --result-height: 20px;
  --result-width: 100px;
  --filter-height: 50px;
  --filter-width: 100%;
  --card-height: 100%;
  --card-width: 100%;
  --color: white;
  position: relative;
  width: 100%;
  overflow: hidden;
  /* max-width: 1024px; */
  /* height: calc(var(--card-height) * 3); */
  /* outline: 2px solid red; */
  background-image: linear-gradient(white var(--card-height), transparent 0);
  /* linear-gradient(white var(--card-height), transparent 0),
    linear-gradient(white var(--card-height), transparent 0); */
  background-size: var(--card-width) var(--card-height);
  /* var(--card-width) var(--card-height) var(--card-width) var(--card-height);
  background-repeat: no-repeat; */
  /* background-position: 0 0, 0 calc(var(--card-height) + 2px); */
  /* 0 calc(var(--card-height) * 2 + 4px); */
}
.close__button {
  left: 50%;
  z-index: 1000;
  bottom: 5%;
  position: fixed;
  transform: translateX(-50%);
}
@media only screen and (max-width: 670px) {
  .skeleton {
    /* --card-height: 80px; */
  }
}
.skeleton::after {
  /* display: block; */
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0;
  left: 0; */
  border-radius: 8px;
  /* z-index: 2000; */
  transform: translateX(-100%);
  background: linear-gradient(90deg, transparent, #e2e8f04b, transparent);
  /* background: red; */
  animation: loading 1.5s infinite;
}
@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
@tailwind utilities;

body {
  @apply bg-gray-200;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}

/* Your custom CSS here */
